@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

$Outfit: "Outfit", sans-serif;

body {
  font-family: $Outfit;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}
