@use "../tools/" as *;

.search-bar-container {
  display: flex;
  background-color: $cardBackground;
  border-radius: 50px;
  padding: 8px;
  max-width: 240px;
  width: 100%;
  img {
    width: 24px;
    height: 24px;
    margin-right: 12px;
    padding: 2px 0;
  }
  input {
    background-color: $cardBackground;
    color: $primary;
    transform: translateY(1px);
  }
}

.search-bar input::placeholder {
  color: #97a3b6;
}
